<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>score</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>


    {% load static %}

    <script>
        function removesession()
        {
            sessionStorage.removeItem("timeleft") 
        }
        
    </script>

    <style>
        #user
        {
            font-size: 20px;
            color: black;
            font-style: bold;
        }


        #score
        {
            font-size: 20px;
            color: black;
            font-style: bold; 
        }

        #form
        {
            text-align: center;
        }
    </style>
</head>
<body onload="removesession()">
    <form id="form">
        <span id="user">welcome user {{request.session.name}}</span>
        <br> 
        <!-- {{allanswers}} <br><br> -->
       <span id="score"> Final score is :{{request.session.score}} </span><br> <br>
        <!-- <table border="1px solid red">
            <tr>
            <th>Question number</th>
            <th>Question Text</th>
            <th>Correct Answer</th>
            <th>Choosen Option</th>
            </tr>
            
            {% for ans in allanswers %}
            <tr>
                <td>{{ans.0}}</td>
                <td>{{ans.1}}</td>
                <td>{{ans.2}}</td>
                <td>{{ans.3}}</td>
            </tr>
            {% endfor %}
        </table> -->

        <table class="table table-striped table-dark">
            
              <tr>
                <th>Question number</th>
                <th>Question Text</th>
                <th>Correct Answer</th>
                <th>Choosen Option</th>
              </tr>
            
                {% for ans in allanswers %}
                <tr>
                    <td>{{ans.0}}</td>
                    <td>{{ans.1}}</td>
                    <td>{{ans.2}}</td>
                    <td>{{ans.3}}</td>
                </tr>
                {% endfor %}
             
           
          </table>
    </form>
    <br>
    <img  id="img" height="300px" width="100%" src="{% static 'images/img4.jpeg' %}" alt="img not found">

    <script>
        var images=["img1","img2","img3","img4"]
        var currentindex=-1
        var img=document.getElementById("img")
        function changeImg()
        {
            currentindex++
            if(currentindex==images.length)
            currentindex=0
            var nextimg='images/' +images[currentindex]+'.jpeg'
            img.src="{% static nextimg %}"+nextimg
        }
        setInterval(changeImg,3000)
    </script>
<br>
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
     
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example21" class="form-control" />
                <label class="form-label" for="form5Example21">Email address</label>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
          repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
          eum harum corrupti dicta, aliquam sequi voluptate quas.
        </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Get to Know Us</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">About Us</a>
              </li>
              <li>
                <a href="#!" class="text-white">Careers</a>
              </li>
              <li>
                <a href="#!" class="text-white">Press Releases</a>
              </li>
             
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Connect with Us</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Facebook</a>
              </li>
              <li>
                <a href="#!" class="text-white">Twitter</a>
              </li>
              <li>
                <a href="#!" class="text-white">Instagram</a>
              </li>
              
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Mail Us</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">xyz1234@gmail.com</a>
              </li>
              <li>
                <a href="#!" class="text-white">abc1234@gmail.com</a>
              </li>
              <li>
                <a href="#!" class="text-white">pqr1234@gmail.com</a>
              </li>
              
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">policy</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Privacy</a>
              </li>
              <li>
                <a href="#!" class="text-white">Security</a>
              </li>
              <li>
                <a href="#!" class="text-white">Terms of use</a>
              </li>
        
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">apnascholl.com</a>
    </div>
    <!-- Copyright -->
  </footer>
</body>
</html>